@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color: black !important
}

.brand-logo, h2{
    font-family: "Grand Hotel", cursive;
}

.mycard{
    margin-top: 30px;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.signup.auth-card{
    padding: 10px;
    font-size: 0.8rem;
}

.signup.auth-card h3{
    margin: 0;
    font-size: 1rem;
}

.signup.auth-card a {
    font-weight: bold;
    font-size: 1rem;
    color: blue; /* Example color */
}


.home-card{
    margin: auto;
    max-width: 600px;
    max-height: max-content;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    width: 30%;
}


.add_ingredient{
    display: flex;
    align-items: center;
}

.added_ingredients {
    display: flex;
    flex-wrap: wrap;
}

.edit_ingredients {
    display: flex;
    align-items: center;
    padding: 3px;
    padding-inline-end: 5px;
    padding-inline-start: 7px;
    border: 1.5px solid teal;
    background-color: rgb(212, 235, 235);
    border-radius: 17px;
    list-style-type: none;
    margin: 5px;
}

.tag_smoothies {
    display: flex;
    flex-wrap: wrap;
}

.click_tags {
    display: flex;
    align-items: center;
    padding: 3px;
    padding-inline-end: 5px;
    padding-inline-start: 7px;
    border: 1.5px solid teal;
    background-color: rgb(212, 235, 235);
    border-radius: 17px;
    list-style-type: none;
    margin: 5px;
}

i{  
    cursor: pointer;
}

.listed_tags_container {
    display: flex;
    align-items: center;
}
.listed_tags{
    display: flex;
    align-items: center;
    padding: 3px;
    padding-inline-end: 7px;
    padding-inline-start: 7px;
    border: 1.5px solid teal;
    background-color: rgb(212, 235, 235);
    border-radius: 17px;
    list-style-type: none;
    margin: 5px;
    
}